<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <h2 class="text-center">Sign Up</h2>
    </div>
    <div class="form-group">
        <input
            type="email"
            class="form-control"
            email
            ngModel name="email"
            required
            placeholder="Email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        >
    </div>
    <div class="form-group">
        <input 
            type="password"
            class="form-control"
            ngModel name="password"
            required
            placeholder="Password"
            #pass="ngModel"
            minlength="6"
        >
    </div>
    <div class="form-group">
        <input 
            type="password"
            class="form-control"
            ngModel name="confirmPassword"
            required
            placeholder="Confirm Password"
            appConfirmPassword
        >
    </div>
    <div class="form-group text-center">
        <button 
            type="submit"
            class="form-btn">
                SIGN UP 
                <app-btn-spinner *ngIf="loading"></app-btn-spinner>
        </button>
    </div>
</form>