.comment-body {
    border-bottom: 1px dotted rgba(0,0,0,.1);
    position: relative;
}
.delete-btn {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
}
.delete-btn:after {
    content: 'Delete';
    position: absolute;
    left: -40%;
    top: 0px;
    background: #0000002e;
    color: gray;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 15px;
    transform: translateX(-25%);
    border-radius: 5px;
    z-index: 2;
    -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 70%, 66% 70%, 50% 100%, 50% 100%, 33% 70%, 0 70%);
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 70%, 66% 70%, 50% 100%, 50% 100%, 33% 70%, 0 70%);
    opacity: 0;
    transition: .2s ease;
}
.delete-btn:hover:after {
    top: -40px;
    opacity: 1;
}

