<div class="w-100 h-100 fixed-top d-flex align-items-center justify-content-center" @toggleModal *ngIf="showModal" (click)="onHideModal($event)">
    <app-alert-msg  [class]="'danger'" *ngIf="error" class="alert-container"> {{error}} </app-alert-msg>
    <div #card class="card shadow w-50 bg-white position-relative">
        <div class="form-container sign-in-container">
            <div class="form">
                <app-login-form></app-login-form>
            </div>
        </div>
        <div class="form-container sign-up-container">
            <div class="form">
                <app-register-form></app-register-form>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <div class="overlay-content">
                        <h2>Already registered?</h2>
                        <p>Please login with your personal info</p>
                        <button class="overlay-btn" (click)="changeToLogIn()">SIGN IN</button>
                    </div>
                </div>
                <div class="overlay-panel overlay-right">
                    <div class="overlay-content">
                        <h2>No account yet?</h2>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="overlay-btn" (click)="changeToSignUp()">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>