<div class="w-100 h-100 fixed-top d-flex align-items-center justify-content-center" @toggleModal *ngIf="showModal" (click)="onHideModal($event)">
    <!-- <div class="card w-25 mx-auto position-relative bg-white shadow">
        <div class="card-body">
            <app-auth-form></app-auth-form>
        </div>
        <button class="btn btn-danger btn-sm position-absolute" (click)="onHideModal()">X</button>
    </div> -->



    <div #card class="card shadow w-50 bg-white position-relative">
        <div class="form-container sign-in-container">
            <div class="form">
                <h3>Sign In</h3>
                <input type="email" required placeholder="Email" class="form-control">
                <input type="password" required placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-container sign-up-container">
            <div class="form">
                <h3>Sign Up</h3>
                <input type="email" required placeholder="Email" class="form-control">
                <input type="password" required placeholder="Password" class="form-control">
                <input type="password" required placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <div class="overlay-content">
                        <h3>Welcome Back!</h3>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="btn btn-secondary" (click)="changeToLogIn()">Click me</button>
                    </div>
                </div>
                <div class="overlay-panel overlay-right">
                    <div class="overlay-content">
                        <h3>Welcome Back!</h3>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="btn btn-secondary" (click)="changeToSignUp()">Click me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>