.w-100 {
    background: #00000085;
    z-index: 100;
}
.btn-danger {
    top: 0;
    right: 0;
}
/* MODAL */
.card {
    min-height: 480px;
    border: none;
}

.form-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.sign-in-container {
    z-index: 2;
}
.sign-up-container {
    opacity: 0;
    z-index: 1;
}
.form {
    width: 80%;
}

.overlay-container {
    width: 50%;
    left: 50%;
    top: 0;
    position: absolute;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: .5s ease-in-out;
}
.overlay {
    position: relative;
    top: 0;
    width: 200%;
    height: 100%;
    left: -100%;
    background: linear-gradient(to right, #ff9d01, #ea0c5c);
}
.overlay-panel {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: .5s ease-in-out;
}
.overlay-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.overlay-container p {
    color: white;
}
.overlay-left {
    left: 0;
    transform: translateX(-100%);
}
.overlay-right {
    right: 0;
}
/* ANIMATIONS */
.right-panel-active .overlay-right {
    transform: translateX(150%);
}
.right-panel-active .overlay-left {
    transform: translateX(100%);
}
.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.right-panel-active .form-container {
    transform: translateX(100%);
}

.right-panel-active .sign-up-container {
    opacity: 1;
    z-index: 5;
	animation: show 0.5s;
}
.right-panel-active .sign-in-container {
    opacity: 0;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.alert-container {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.overlay-btn {
    border-radius: 5px;
    border: 1px solid white;;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin-top: 20px;
    background: transparent;
}
.overlay-btn:focus {
    outline: none;
}