<header class="w-100 mt-5 position-relative">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <span class="custom-pill px-4 py-2">Science & Fun</span>
                <h1 class="mt-3"> Science is Nothing But Perception </h1>
                <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. In vitae turpis.</p>
                <a href="#" class="btn shadow header-btn" [routerLink]="['/blog']">VIEW OUR BLOG PAGE</a>
            </div>
            <div class="col-6"> <img src="assets/images/banner-img1.png" alt="banner-img1" width="540px"> </div>
        </div>
    </div>

    <!-- WHAT CAN YOU DO IN THIS SITE -->
    <div class="container my-5">
        <div class="row" id="header-boxes">
            <div class="col-4">
                <div class="box shadow" style="background: #ff5d24">
                    <img src="assets/images/box-float-cirlce.png" alt="circle-float" class="box-float-circle">
                    <img src="assets/images/box-float-boxes.png" alt="boxes-float" class="box-float-boxes">
                    <div class="box-content text-center py-5 text-white mx-3">
                        <img src="assets/images/mikroscope.png" alt="mikroscope" width="50px" height="50px">
                        <h3 class="my-3"> <b>Read Science</b> </h3>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box shadow" style="background: #43c784">
                    <img src="assets/images/box-float-cirlce.png" alt="circle-float" class="box-float-circle">
                    <img src="assets/images/box-float-boxes.png" alt="boxes-float" class="box-float-boxes">
                    <div class="box-content text-center mx-3 py-5 text-white">
                        <img src="assets/images/pots.png" alt="pots" width="50px">
                        <h3 class="my-3"> <b>Write Science</b> </h3>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box shadow" style="background: #f59f00">
                    <img src="assets/images/box-float-cirlce.png" alt="circle-float" class="box-float-circle">
                    <img src="assets/images/box-float-boxes.png" alt="boxes-float" class="box-float-boxes">
                    <div class="box-content text-center mx-3 py-5 text-white">
                        <img src="assets/images/comment.png" alt="comment" width="50px">
                        <h3 class="my-3"> <b>Comment Science</b> </h3>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //WHAT CAN YOU DO IN THIS SITE -->
    <!-- FLOATS  -->
    <img src="assets/images/header-float-1.png" alt="float-1" class="header-float-1 header-float">
    <img src="assets/images/header-float-2.png" alt="float-2" class="header-float-2 header-float">
    <img src="assets/images/header-float-2.png" alt="float-3" class="header-float-3 header-float">
    <img src="assets/images/header-float-3.png" alt="float-4" class="header-float-4 header-float">
    <img src="assets/images/header-float-1.png" alt="float-5" class="header-float-5 header-float">
    <img src="assets/images/header-float-3.png" alt="float-6" class="header-float-6 header-float">
</header>
    