<div class="w-100 position-relative">
    <img src="assets/images/bg-shape1.png" alt="" class="bg-shape">
    <img src="assets/images/header-float-3.png" alt="header-float-3" class="shape">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <img src="assets/images/home-categories.png" alt="" width="100%">
            </div>
            <div class="col-6">
                <h2><b>Take a look at the categories</b></h2>
                <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-4"> 
            <app-card-category img="assets/images/chemistry-logo.png" color="#fe5e2366" category="Chemistry">
                <h3>Chemistry</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
        <div class="col-4"> 
            <app-card-category img="assets/images/technologies-logo.png" color="#009ffb66" category="Technologies">
                <h3>Technologies</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
        <div class="col-4"> 
            <app-card-category img="assets/images/physics-logo.png" color="#f59f0066" category="Physics">
                <h3>Physics</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
        <div class="col-4"> 
            <app-card-category img="assets/images/brain-logo.png" color="#b57b1666" category="The Brain">
                <h3>The Brain</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
        <div class="col-4"> 
            <app-card-category img="assets/images/space-logo.png" color="#8950a866" category="The Space">
                <h3>The Space</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
        <div class="col-4"> 
            <app-card-category img="assets/images/environment-logo.png" color="#43c78566" category="Environment">
                <h3>Environment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus.</p>
            </app-card-category>
        </div>
    </div>
</div>