<form (ngSubmit)="onSubmit()" [formGroup]="form" #f="ngForm">
    <!-- POST META -->
    <div class="post-meta">
        <h4 class="d-flex justify-content-between" (click)="openMeta = !openMeta">
            Post Meta 
            <i class="fa fa-chevron-down" [ngClass]="{'active-i': openMeta}"></i>
        </h4>
        <div class="panel-container" @toggleHeight *ngIf="openMeta">
            <div class="form-group">
                <label> <b>Title:</b> </label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label> <b>Post image URL:</b> </label>
                <input type="text" class="form-control" formControlName="image">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="mr-3"> <b>Category: </b> </label>
                    <div class="cats">
                        <label><input type="radio" formControlName="category" value="Chemistry"> Chemistry </label>
                        <label><input type="radio" formControlName="category" value="Technologies"> Technologies </label>
                        <label><input type="radio" formControlName="category" value="Physics"> Physics </label>
                        <label><input type="radio" formControlName="category" value="The Brain"> The Brain </label>
                        <label><input type="radio" formControlName="category" value="The Space"> The Space </label>
                        <label><input type="radio" formControlName="category" value="Environment"> Environment </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /POST META -->
    <div class="dividing"></div>
    <!-- POST CONTENT -->
    <div class="post-content">
        <h4 class="d-flex justify-content-between" (click)="openContent = !openContent">
            Post Content
            <i class="fa fa-chevron-down" [ngClass]="{'active-i': openContent}"></i>
        </h4>
        <div class="panel-container" *ngIf="openContent" @toggleHeight>
            <div formArrayName="formArray">
                <div *ngFor="let control of formArrayControls.controls; let i = index;" [formGroupName]="i" @slideInOut>
                    <button class="btn btn-sm btn-primary" (click)="deleteControl(i)" type="button">click</button>
                    <!-- TEXT -->
                    <div *ngIf="control.value.hasOwnProperty('text')">
                        <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="text"></app-ngx-editor>
                    </div>
                    <!-- ///TEXT -->
                    <!-- ADD IMAGE -->
                    <div *ngIf="control.value.hasOwnProperty('image')" @slideInOut>
                        <div class="form-group">
                            <label> <b>Image URL</b> </label>
                            <input class="form-control" formControlName="image">
                        </div>
                        <div class="ml-3">
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Size in %:</b></label> </div>
                                    <div class="col-8"> <input type="number" class="form-control w-25" formControlName="size"> </div>
                                </div>
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <label class="mr-3"> <b>Align: </b> </label>
                                <input type="radio" formControlName="align" value="left"> Left
                                <input type="radio" formControlName="align" value="center"> Center
                                <input type="radio" formControlName="align" value="right"> Right
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Border radius in %:</b></label> </div>
                                    <div class="col-8"> <input type="number" class="form-control w-25" formControlName="radius"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ///ADD IMAGE -->
                </div>
            </div>
            <app-add-control-btn (addElement)="addElement($event)" appHideDropDown></app-add-control-btn>
        </div>
    </div>
    <!-- /POST CONTENT -->
    <div class="form-goup">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>



