<h2 class="text-center">Create new Post</h2>
<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" #f="ngForm">
            <h3 class="text-center"> <u>Post Meta</u> </h3>
            <div class="form-group">
                <label> <b>Title:</b> </label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label> <b>Post image:</b> </label>
                <input type="text" class="form-control" formControlName="image">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="mr-3"> <b>Category: </b> </label>
                    <input type="radio" formControlName="category" value="cat1"> cat1
                    <input type="radio" formControlName="category" value="cat2"> cat2
                    <input type="radio" formControlName="category" value="cat3"> cat3
                    <input type="radio" formControlName="category" value="cat4"> cat4
                    <input type="radio" formControlName="category" value="cat5"> cat5
                </div>
            </div>
            <h3 class="text-center"> <u>Post Content</u> </h3>
            <div formArrayName="formArray">
                <div *ngFor="let control of formArrayControls.controls; let i = index;" [formGroupName]="i">
                    <button class="btn btn-sm btn-primary" (click)="deleteControl(i)" type="button">click</button>
                    <!-- ADD HEADING -->
                    <div *ngIf="control.value.hasOwnProperty('heading')">
                        <div class="form-group">
                            <label> <b>Heading</b> </label>
                            <input class="form-control" formControlName="heading">
                        </div>
                        <div class="ml-3">
                                <div class="form-group" style="font-size: 14px;">
                                    <label class="mr-3"> <b>Size: </b> </label>
                                    <input type="radio" formControlName="size" value="h1"> H1
                                    <input type="radio" formControlName="size" value="h2"> H2
                                    <input type="radio" formControlName="size" value="h3"> H3
                                    <input type="radio" formControlName="size" value="h4"> H4
                                    <input type="radio" formControlName="size" value="h5"> H5
                                </div>
                            <div class="form-group" style="font-size: 14px;">
                                <label class="mr-3"> <b>Align: </b> </label>
                                <input type="radio" formControlName="align" value="left"> Left
                                <input type="radio" formControlName="align" value="center"> Center
                                <input type="radio" formControlName="align" value="right"> Right
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Color:</b></label> </div>
                                    <div class="col-8"> <input type="text" class="form-control w-25" formControlName="color"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ADD HEADING -->
                    <!-- ADD PARAGRAPH -->
                    <div *ngIf="control.value.hasOwnProperty('paragraph')">
                        <div class="form-group">
                            <label> <b>Paragraph</b> </label>
                            <input class="form-control" formControlName="paragraph">
                        </div>
                        <div class="ml-3">
                            <div class="form-group" style="font-size: 14px;">
                                <label class="mr-3"> <b>Align: </b> </label>
                                <input type="radio" formControlName="align" value="left"> Left
                                <input type="radio" formControlName="align" value="center"> Center
                                <input type="radio" formControlName="align" value="right"> Right
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Color:</b></label> </div>
                                    <div class="col-8"> <input type="text" class="form-control w-25" formControlName="color"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ADD PARAGRAPH -->
                    <!-- ADD IMAGE -->
                    <div *ngIf="control.value.hasOwnProperty('image')">
                        <div class="form-group">
                            <label> <b>Image URL</b> </label>
                            <input class="form-control" formControlName="image">
                        </div>
                        <div class="ml-3">
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Size in %:</b></label> </div>
                                    <div class="col-8"> <input type="number" class="form-control w-25" formControlName="size"> </div>
                                </div>
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <label class="mr-3"> <b>Align: </b> </label>
                                <input type="radio" formControlName="align" value="left"> Left
                                <input type="radio" formControlName="align" value="center"> Center
                                <input type="radio" formControlName="align" value="right"> Right
                            </div>
                            <div class="form-group" style="font-size: 14px;">
                                <div class="row">
                                    <div class="col-2"> <label><b>Border radius in %:</b></label> </div>
                                    <div class="col-8"> <input type="number" class="form-control w-25" formControlName="radius"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ADD IMAGE -->
                </div>
            </div>
            <div class="form-goup">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <app-add-control-btn (addElement)="addElement($event)" appHideDropDown></app-add-control-btn>
    </div>
</div>



