<form (ngSubmit)="onSubmit()" [formGroup]="form" #f="ngForm">
    <!-- POST META -->
    <div class="post-meta">
        <h4 class="d-flex justify-content-between" (click)="openMeta = !openMeta">
            Post Meta 
            <i class="fa fa-chevron-down" [ngClass]="{'active-i': openMeta}"></i>
        </h4>
        <div class="panel-container" @toggleHeight *ngIf="openMeta">
            <div class="form-group">
                <label> <b>Title:</b> </label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label> <b>Post image URL:</b> </label>
                <input type="text" class="form-control" formControlName="image">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="mr-3"> <b>Category: </b> </label>
                    <div class="cats">
                        <label><input type="radio" formControlName="category" value="Chemistry"> Chemistry </label>
                        <label><input type="radio" formControlName="category" value="Technologies"> Technologies </label>
                        <label><input type="radio" formControlName="category" value="Physics"> Physics </label>
                        <label><input type="radio" formControlName="category" value="The Brain"> The Brain </label>
                        <label><input type="radio" formControlName="category" value="The Space"> The Space </label>
                        <label><input type="radio" formControlName="category" value="Environment"> Environment </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /POST META -->
    <div class="dividing"></div>
    <!-- POST CONTENT -->
    <div class="post-content">
        <h4 class="d-flex justify-content-between" (click)="openContent = !openContent">
            Post Content
            <i class="fa fa-chevron-down" [ngClass]="{'active-i': openContent}"></i>
        </h4>
        <div 
            class="panel-container"
            *ngIf="openContent"
            @toggleHeight
            [ngStyle]="{'padding': formArrayControls.controls.length === 0 ? '0px' : '10px' }">
                <div formArrayName="formArray">
                    <div 
                        *ngFor="let control of formArrayControls.controls; let i = index;"
                        [formGroupName]="i"
                        @slideInOut
                        class="position-relative">
                            <button 
                                class="btn btn-sm btn-danger btn-sm delete-element-btn"
                                (click)="deleteControl(i)"
                                type="button">
                                    <i class="fa fa-times"></i>
                            </button>
                            <!-- TEXT -->
                            <div *ngIf="control.value.hasOwnProperty('text')">
                                <h5 class="text-center"> <u>TEXT:</u> </h5>
                                <app-ngx-editor 
                                    [placeholder]="'Enter text here...'"
                                    [spellcheck]="true"
                                    formControlName="text">
                                </app-ngx-editor>
                            </div>
                            <!-- ///TEXT -->
                            <!-- ADD IMAGE -->
                            <div *ngIf="control.value.hasOwnProperty('image')" @slideInOut>
                                <h5 class="text-center"> <u>IMAGE:</u> </h5>
                                <div class="form-group">
                                    <label> <b>Url:</b> </label>
                                    <input class="form-control" formControlName="image">
                                </div>
                                <div class="form-group" style="font-size: 14px;">
                                    <label><b>Size in %:</b></label>
                                    <input type="number" class="form-control" formControlName="size" min="0">
                                </div>
                                <div class="form-group" style="font-size: 14px;">
                                    <label class="mr-3"> <b>Align: </b> </label>
                                        <div class="img-align">
                                            <label> <input type="radio" formControlName="align" value="left"> Left </label>
                                            <label> <input type="radio" formControlName="align" value="center"> Center </label>
                                            <label> <input type="radio" formControlName="align" value="right"> Right </label>
                                        </div>
                                </div>
                                <div class="form-group" style="font-size: 14px;">
                                    <label><b>Border radius in %:</b></label>
                                    <input type="number" class="form-control" formControlName="radius" min="0">
                                </div>
                            </div>
                            <!-- ///ADD IMAGE -->
                            <hr>
                    </div>
                </div>
        </div>
    </div>
    <div class="my-2" *ngIf="openContent" @slideInOut>
        <app-add-control-btn (addElement)="addElement($event)" appHideDropDown></app-add-control-btn>
    </div>
    <!-- /POST CONTENT -->
    <div class="form-goup submit-container">
        <button class="btn btn-success btn-block" type="submit">Submit</button>
    </div>
</form>



