<h4 class="text-center card-title">Authenticate</h4>
<app-alert-msg *ngIf="error" [class]="'danger'"> {{error}} </app-alert-msg>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label> <b>Email:</b> </label>
        <input type="text" class="form-control" ngModel required name="email" email>
    </div>
    <div class="form-group">
        <label> <b>Password:</b> </label>
        <input type="password" class="form-control" ngModel required name="password">
    </div>
    <div class="form-group">
        <button 
            type="submit" 
            class="btn btn-sm" 
            [ngClass]="loginMode ? 'btn-info' : 'btn-success'"> 
                {{loginMode ? 'Log In' : 'Register'}} 
                <app-btn-spinner *ngIf="loading"></app-btn-spinner>
        </button>
    </div>
    <div class="d-flex text-center mt-5 text-white">
        <div class="w-50 py-3 bg-info" (click)="loginMode=true"> Sign In </div>
        <div class="w-50 py-3 bg-success" (click)="loginMode=false"> Sign Up </div>
    </div>
</form>