<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <h2 class="text-center">Sign In</h2>
    </div>
    <div class="form-group">
        <input 
            class="form-control" 
            type="email"
            ngModel name="email"
            placeholder="Email"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        >
    </div>
    <div class="form-group">
        <input 
            type="password"
            class="form-control"
            ngModel name="password"
            required
            minlength="6"
            placeholder="Password"
        >
    </div>
        <p class="text-center">Forgot your password?</p>
    <div class="form-group text-center">
        <button 
            type="submit"
            class="form-btn"
            [disabled]="!form.valid">
                SIGN IN 
            <app-btn-spinner *ngIf="loading"></app-btn-spinner>
        </button>
    </div>
</form>


