/* You can add global styles to this file, and also import other style files */


/* ANIMATIONS */
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
@keyframes rotate-y {
    from { transform: rotateY(0deg) rotate(15deg) }
    to { transform: rotateY(360deg) rotate(15deg) }
}
@keyframes move-up-down {
    0% { transform: translateY(0px) }
    50% { transform: translateY(50px) }
    100% { transform: translateY(0px) }
}

/* MAIN ELEMENTS */
h1 {
    font-size: 57px;
    font-weight: 700;
}
h2 { 
    font-size: 38px;
}
p {
    color: #666666;
    font-size: 15px;
    line-height: 1.8;
}

/* BUTTONS */
button[title="Insert Image"],
button[title="Insert Video"] {
    display: none!important;
}
.ngx-toolbar-set {
    flex-wrap: wrap!important;
}